* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background-color: #F2E2C4;
    color:#4A4A4A;
}

button{
    background-color: none;
    border: none;
}

html {
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
}
ul {
    display: flex;
    justify-content: end;
}

li {
    margin: 1rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    margin: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  td, th {
    padding: 10px;
    vertical-align: top;
    max-width: 500px
  }
  
  th {
    text-align: left;
    width: 150px; 
  }
  
  /* td {
    display: flex; 
    align-items: center;
  } */
  
  td input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 10px;
  } 

  .helptext {
    display: none;
  }

  .radiolist {
    display: flex;
  }

  p {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2rem;
  }
  .about-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensures full background coverage */
    padding: 20px;
    min-height: 100%;
  }

  a:visited{
    color:black;
  }

  .btn{
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  .btn:hover{
    background-color: gray;
    color: white;
  }


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }