/* main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
   */
  /* main > section {
    width: 100%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
   */
  
  /* .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  } */
  
  .login h1 {
    margin: 10px 0;
  }
  
  .login > p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 14px 0 0px;
  }
  
  .login label {
    margin-bottom: 6px;
  }
  
  .login input {
    padding: 2px 4px;
  }
  
  .login .btn {
    margin-top: 16px;
  }
  