.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 275px;
    margin: 10px;
    border: 1px solid black;
  }
  
  .card-content {
    padding: 10px;
    width: 100%;
  }
  
  .card > a {
    text-decoration: none;
  }
  
  .card h2 {
    margin: 10px 0;
  }
  
  .card p {
    margin: 5px 0;
  }

  img {
    width: 200px;
    height: 100%;
  }
  
  #id_date {
    margin-left: 1rem;
  }