  
  /* .login h1 {
    margin: 10px 0;
  }
  
  .login > p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 14px 0 0px;
  }
  
  .login label {
    margin-bottom: 6px;
  }
  
  .login input {
    padding: 2px 4px;
  } */

  .login h1 {
    margin-bottom: 10px;
  }
  
  .login label {
    margin-top: 1px;
  }

  .login input{
    width: 100px;

  }
  
  .login .btn {
    margin-top: 16px;
  }
  