.dog-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dog-img img{
    width: 400px;
    height: 100%;
}

.add-vacine-form form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}